<div>
    <h2>Ironhack Cinema</h2>
    <h4>Click on the movie to check the showtimes!</h4>
    <ul>
        {{#each moviesList}}
        <li>{{this.image}}{{this.title}} <a href="">See more</a></li>
        {{/each}}
    </ul>
</div>