body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#cinema-title {
  font-size: 120px;
  color: white;
  margin-left: 58%;
  margin-top: 100px;
}

#home-body{
  display: flex;
  flex-direction: column;
  background-image: url("../images/cinema.jpg");
  background-size: cover;
}

#check-button{
  border: 1px solid white;
  border-radius: 20px;
  padding: 15px;
  width: 200px;
  color: #00B7FF;
  margin-left: 58%;
  font-size: 18px;
}

#movie-list {
  width: 28%;
  margin: 30px;
  padding-bottom: 25px;
  text-align: center;
}